body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#indexContainer, #updateContainer {
    width: 1280px;
    margin: 0 auto;
}


/* --- COMPETITION TITLE DIV --- */
.competition {
    position: absolute;
    width: 1280px;
    height: 90px;
    background-color: wheat;
}

.competitionLabel {
    position: absolute;
    top: 5px;
    width: 1280px;
    font-size: 48px;
    text-align: center;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px lightcoral, 0 0 5px gold;
}

#streamCompetitionLabel {
    font-size: 36px;
}
/* ^^^ COMPETITION TITLE DIV^^^ */


/* --- MATCH SCORE DIV --- */
.score {
    position: absolute;
    width: 1280px;
    height: 90px;
    background-color: gold;
}

#score1 {
    top: 90px;
}

#streamScore1 {
    top: 60px;
    height: 50px;
}

#streamScore2 {
    top: 610px;
    height: 50px;
}

#indexScore2, #updateScore2 {
    top: 540px;
}
/* ^^^ MATCH SCORE DIV ^^^ */



/* --- MATCH NAME --- */
.matchLabel {
    position: absolute;
    top: 5px;
    left: 500px;
    width: 300px;
    text-align: center;
    color: black;
    font-size: 48px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px lightcoral, 0 0 5px gold;
}

.matchSelect {
    position: absolute;
    top: 20px;
    left: 500px;
    height: 50px;
    width: 350px;
    text-align: center;
    color: black;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px lightcoral, 0 0 5px gold;
}

#streamMatch1Label {
    top: -5px;
    font-size: 36px;
}

#streamMatch2Label {
    top: -5px;
    font-size: 36px;
}

/* ^^^ MATCH NAME ^^^ */



/* --- MATCH FLAGS --- */
.mainFlag {
    position: absolute;
    height: 50px
}

#mainOrkneyFlag1, #mainOrkneyFlag2 {
    top: 20px;
    left: 260px;
}

#mainShetlandFlag1, #mainShetlandFlag2  {
    top: 20px;
    left: 990px;
}

#streamMainOrkneyFlag1 {
    top: 7px;
    left: 260px;
    height: 36px;
}

#streamMainShetlandFlag1 {
    top: 7px;
    left: 990px;
    height: 36px;
}

#streamMainOrkneyFlag2 {
    top: 7px;
    left: 260px;
    height: 36px;
}

#streamMainShetlandFlag2 {
    top: 7px;
    left: 990px;
    height: 36px;
}
/* ^^^ MATCH FLAGS ^^^ */



/* --- MATCH SCORES --- */
.matchScoreLabel {
    position: absolute;
    font-size: 48px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px lightcoral, 0 0 5px gold;
}

.matchScoreInput {
    position: absolute;
    width: 80px;
    height: 50px;
    margin-left: -20px;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px lightcoral, 0 0 5px gold;
}

#match1Score1Label, #match2Score1Label {
    position: absolute;
    top: 5px;
    left: 360px;
}

#match1Score1Input, #match2Score1Input {
    position: absolute;
    top: 20px;
    left: 360px;
}

#match1Score2Label, #match2Score2Label {
    position: absolute;
    top: 5px;
    left: 930px;
}

#match1Score2Input, #match2Score2Input {
    position: absolute;
    top: 20px;
    left: 930px;
}

#streamMatch1Score1Label {
    position: absolute;
    top: -5px;
    left: 360px;
    font-size: 36px;
}

#streamMatch1Score2Label {
    position: absolute;
    top: -5px;
    left: 930px;
    font-size: 36px;
}

#streamMatch2Score1Label {
    position: absolute;
    top: -5px;
    left: 360px;
    font-size: 36px;
}

#streamMatch2Score2Label {
    position: absolute;
    top: -5px;
    left: 930px;
    font-size: 36px;
}

/* ^^^ MATCH SCORES ^^^ */


.tableLabel {
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: wheat;
}

/* --- FOR UPDATE PAGE --- */
#logoutButton {
    position: absolute;
    top: 24px;
    right: 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: darkred;
}

#logoutButton:hover {
    background-color: lightcoral;
}

.indexTableScoreboard, .updateTableScoreboard {
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

#table1Label {
    top: 190px;
}

#table1Scoreboard {
    top: 190px;
}

#table2Label {
    top: 250px;
}

#table2Scoreboard {
    top: 250px;
}

#table3Label {
    top: 310px;
}

#table3Scoreboard {
    top: 310px;
}

#table4Label {
    top: 370px;
}

#table4Scoreboard {
    top: 370px;
}

#table5Label {
    top: 430px;
}

#table5Scoreboard {
    top: 430px;
}

#table6Label {
    top: 490px;
}

#table6Scoreboard {
    top: 490px;
}

/* ^^^ FOR UPDATE PAGE ^^^ */

.background {
    position: absolute;
    top: -300px;
    width: 1280px;
    opacity: 0.3;
    z-index: 0;
}

/* --- TABLE SCOREBOARD DIV --- */
.tableScoreboard, .indexTableScoreboard, .updateTableScoreboard {
    position: absolute;
    background-color: wheat;
    width: 500px;
    height: 32px;
    border-radius: 10px;
}
/* --- MAIN TABLE LABEL --- */

#streamMainTableLabel {
    top: 140px;
    left: 200px;
}

#streamMainTableScoreboard {
    top: 540px;
    left: 320px;
}

.playerFlag {
    position: absolute;
    bottom: 4px;
    height: 24px;
}

.playerName {
    position: absolute;
    top: 0px;
    font-size: 24px;
    font-weight: bold;
}

.playerSelect {
    position: absolute;
    margin-left: 0px;
    top: 4px;
    font-size: 20px;
    font-weight: bold;
}

.playerScore {
    position: absolute;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
    background-color: gold;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.playerScoreInput {
    position: absolute;
    top: 4px;
    margin-left: -20px;
    height: 30px;
    width: 40px;
    font-size: 20px;
}

.player1Flag {
    left: 10px;
}

.player1Name {
    left: 40px;
}

.player1Score {
    left: 230px;
}

.player2Flag {
    left: 255px;
}

.player2Name {
    left: 285px;
}

.player2Score {
    left: 475px;
}

/* --- SIDE TABLES --- */

/* --- TOP SIDE TABLE --- 
#topSideTableLabel {
    top: 5px;
    left: 1285px;
}
#topSideTableScoreboard {
    top: 300px;
    left: 1285px;
}
/* ^^^ TOP SIDE TABLE ^^^ */


/* --- MIDDLE SIDE TABLE --- 
#middleSideTableLabel {
    top: 370px;
    left: 1290px;
}

#middleSideTableScoreboard {
    top: 660px;
    left: 1285px;
}
/* ^^^ MIDDLE SIDE TABLE ^^^ */


/* --- BOTTOM SIDE TABLE --- 
#bottomSideTableLabel {
    top: 730px;
    left: 1290px;
}

#bottomSideTableScoreboard {
    top: 1020px;
    left: 1285px;
}
/* ^^^ BOTTOM SIDE TABLE ^^^ */


/* --- SPONSOR DIV --- */
.indexSponsorLower, .updateSponsorLower {
    position: absolute;
    top: 630px;
    background-color: wheat;
    width: 1280px;
    height: 90px;
}

.streamSponsorLower {
    position: absolute;
    top: 660px;
    background-color: wheat;
    width: 1280px;
    height: 60px;
}

#indexSponsorStrapLower {
    position: absolute;
    height: 120px;
    bottom: 5px;
    left: 5px;
}

#streamSponsorStrapLower {
    position: absolute;
    height: 80px;
    bottom: 5px;
    left: 5px;
}

.sponsorImageLeft {
    position: absolute;
    bottom: 0px;
    height: 240px;
}

.sponsorImageRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 200px;
}

#streamSponsorImageRight {
    position: absolute;
    bottom: 5px;
    right: 0px;
    height: 160px;
}

/* --- SPONSOR DIV --- */

/* --- STREAM 2 TESTING NEW STREAM PAGE --- */
.stream2Background {
    position: absolute;
    opacity: 0.3;
}

.stream2Competition {
    position: absolute;
    width: 1280px;
    height: 40px;
    background-color: wheat;
    z-index: 90;
}

#stream2Score1 {
    top: 0px;
    height: 43px;
}

#stream2Match1Label {
    top: -5px;
    font-size: 32px;
}

#stream2MainShetlandFlag1 {
    top: 4px;
    left: 990px;
    height: 32px;
}

#stream2Match1Score1Label {
    position: absolute;
    top: -5px;
    left: 360px;
    font-size: 32px;
}

#stream2MainOrkneyFlag1 {
    top: 4px;
    left: 260px;
    height: 32px;
}

#stream2Match1Score2Label {
    position: absolute;
    top: -5px;
    left: 920px;
    font-size: 32px;
}

#stream2MainTableLabel {
    top: 70px;
    left: 150px;
    font-size: 18px;
}

#stream2MainTableScoreboard {
    top: 580px;
    left: 390px;
    font-size: 18px;
}

#stream2MainTablePlayer1, #stream2MainTablePlayer2  {
    padding-top: 1px;
    padding-left: 10px;
    font-size: 18px;
}

#stream2Score2 {
    top: 628px;
    height: 42px;
}

#stream2Match2Label {
    top: -5px;
    font-size: 32px;
}

#stream2MainShetlandFlag2 {
    top: 4px;
    left: 990px;
    height: 32px;
}

#stream2Match2Score1Label {
    position: absolute;
    top: -5px;
    left: 360px;
    font-size: 32px;
}

#stream2MainOrkneyFlag2 {
    top: 4px;
    left: 260px;
    height: 32px;
}

#stream2Match2Score2Label {
    position: absolute;
    top: -5px;
    left: 920px;
    font-size: 32px;
}

.stream2SponsorLower {
    position: absolute;
    top: 670px;
    width: 1280px;
    background-color: rgb(162, 219, 255);
    height: 55px;
}

#stream2SponsorStrapLower {
    position: absolute;
    height: 62px;
    bottom: 5px;
    left: 5px;
}

#stream2CompetitionLabel {
    padding-left: 330px;
    padding-top: 14px;
    width: 960px;
    opacity: 80%;
}

#stream2SponsorImageRight {
    position: absolute;
    bottom: 5px;
    right: -5px;
    height: 140px;
}