/* --- COMPETITION TITLE DIV --- */
.competition {
    position: absolute;
    width: 1280px;
    height: 90px;
    background-color: lightslategray;
}

.competitionLabel {
    position: absolute;
    top: 5px;
    left: 60px;
    width: 1280px;
    height: 90px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    font-stretch: ultra-expanded;
}
/* ^^^ COMPETITION TITLE DIV^^^ */


/* --- MATCH SCORE DIV --- */
.score {
    position: absolute;
    width: 1280px;
    height: 90px;
    background-color: lightgray;
}

#score1 {
    top: 90px;
    left: 0px;
}

#score2 {
    top: 900px;
    left: 0px;
}
/* ^^^ MATCH SCORE DIV ^^^ */



/* --- MATCH NAME --- */
.matchLabel {
    position: absolute;
    top: 5px;
    left: 480px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-stretch: ultra-expanded;
}
/* ^^^ MATCH NAME ^^^ */



/* --- MATCH FLAGS --- */
.mainFlag {
    position: absolute;
    height: 50px
}

#mainShetlandFlag1, #mainShetlandFlag2  {
    top: 20px;
    left: 200px;
}

#mainOrkneyFlag1, #mainOrkneyFlag2 {
    top: 20px;
    left: 800px;
}
/* ^^^ MATCH FLAGS ^^^ */



/* --- MATCH SCORES --- */
.matchScoreLabel {
    position: absolute;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

#match1Score1Label, #match2Score1Label {
    top: 5px;
    left: 320px;
}

#match1Score2Label, #match2Score2Label {
    top: 5px;
    left: 920px;
}
/* ^^^ MATCH SCORES ^^^ */


/* --- MAIN TABLE DIV --- */
.mainTableScore {
    position: absolute;
    top: 180px;
    left: 0px;
    background-color: aquamarine;
    width: 1280px;
    height: 720px;
}
/* --- MAIN TABLE DIV --- */

.mainTableLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
}

.mainTableFlag {
    position: absolute;
    height: 25px;
}

#mainTablePlayer1Flag {
    top: 800px;
    left: 400px;
}

#mainTablePlayer2Flag {
    top: 640px;
    left: 640px;
}

.mainTablePlayer {
    position: absolute;
    font-size: 25px;
}

.mainTablePlayer1 {
    position: absolute;
    font-size: 25px;
}

.mainTablePlayer2 {
    position: absolute;
    font-size: 25px;
}

.mainTableScore {

}

#mainTableScore1 {

}

#mainTableScore2 {

}

/* --- TOP SIDE TABLE DIV --- */
.topSideTable {
    position: absolute;
    top: 0px;
    left: 1280px;
    background-color: coral;
    width: 640px;
    height: 360px;
}
/* --- TOP SIDE TABLE DIV --- */


/* --- MIDDLE SIDE TABLE DIV --- */
.middleSideTable {
    position: absolute;
    top: 360px;
    left: 1280px;
    background-color: lightgreen;
    width: 640px;
    height: 360px;
}
/* --- MIDDLE SIDE TABLE DIV --- */


/* --- BOTTOM SIDE TABLE DIV --- */
.bottomSideTable {
    position: absolute;
    top: 720px;
    left: 1280px;
    background-color: lightskyblue;
    width: 640px;
    height: 360px;
}
/* --- BOTTOM SIDE TABLE DIV --- */


/* --- TICKER DIV --- */
.ticker {
    position: absolute;
    top: 990px;
    left: 0px;
    background-color: wheat;
    width: 1280px;
    height: 90px;
}
/* --- TICKER DIV --- */