body {
    background-color: lightskyblue;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

select {
    border: 0;
    outline: 0;
    background-color: lightskyblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

input[type="number"] {
    border: 0;
    outline: 0;
    background-color: lightskyblue;
    -moz-appearance: textfield;
}

input[type="number"]:hover, input[type="number"]:focus {
    -moz-appearance: number-input;
}

.mainFlag {
    height: 60px;
    margin-left: 0.5em;
}

.matchSelect {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8em;
    font-style: italic;
    font-weight: bold;
    font-stretch: ultra-expanded;
    text-align: center;
}

#match2Name {
    margin-top: 0.5em;
}

.matchScore {
    text-align: center;
    margin-top: 0.5em;
    display: flex;
}

#match1Score {
    margin-bottom: 2em;
}

#match2Score {
    margin-top: 0.5em;
}

.teamScore {
    font-weight: bold;
    font-size: 3em;
    width: 1em;
    margin-left: 0.4em;
}

.table {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tableLabel {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}

.playerSelect {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: 240px;
    padding-left: 0.5em;
}

.playerScore {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: 1.5em;
    height: 26px;
}

.scoreLine {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 10px;
}

.playerFlag {
    height: 30px;
}

.playerNameLabel {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: 220px;
    padding-left: 0.5em;
    display: inline-block;
}

.playerScoreLabel {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: 20px;
    padding-left: 0.5em;
    display: inline-block;
}